*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  padding: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box  {
  height: 150px;
  width: 300px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: 0.3s ease;
  border-radius: 10px 0;
}
.box:hover{
  background-color: aqua;
  color: aliceblue;
}
.quiz{
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.quiz h2{
  border: 3px solid rgb(42, 226, 42);
  border-radius:15px;
  padding: 13px;
  color:rgb(42, 226, 42);
}
.answer{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.answer p{
  padding: 10px 30px;
  border-radius: 20px;
  margin: 10px 0;
  text-align: center;
  width: 100%;
  background-color: rgb(210, 247, 247);
  transition: 0.2s ease;
}
.answer p:hover{
  background-color: rgb(128, 247, 128);;
  color: white;
  cursor: pointer;
}
.selected{
  background-color: rgb(42, 226, 42)!important;
  color: aliceblue;
}
.button{
  text-align: end;
  margin-top: 23px;
}
.button button{
  border: none;
  font-size: 16px;
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 7px;
  color: aliceblue;
  transition: 0.2s ease;
}
.button button:hover{
  background-color: rgb(2, 207, 207);
  cursor: pointer;
  color: antiquewhite;
}
